

<style>

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
  border: none;
  font-size:medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

  h1 {color:green; text-align: center;}
  h2 {color:grey;}
  h3 {color:lightblue;}

  table, td, th {
    border: 1px solid black;
  }

  table {
    border-collapse: collapse;
    width: 40%;
  }

  th {
    height: 10px;
    background-color:antiquewhite;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  td {
    height: 10px;
    background-color:beige;
    text-align: center;
    font-size:medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

</style>

<br>
<br>

<h1 class="md-display-3">Retail Order Management System</h1>

<br>

<legend>Please enter:</legend>

<div class="container">
 <div class="form-group">
  <label for="usr" style="font-weight: bold;">Customer [Order Number] or [* for All]:</label>
  <input type="text" #titleInput class="form-control" (keyup.enter)="search(titleInput.value)">
  </div>
  <button type="button" (click) = "search(titleInput.value)" class="btn btn-primary">Search!</button>
</div>

<br>

<legend>Customer Order Details</legend>

<div class="container">
 <div class="form-group">

<table mdbTable mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
  <thead>
    <tr>
      <th>Order Number</th>
      <th>Order Created On</th>
    </tr>
    <!--
    <tr>
      <th *ngFor="let head of list_rom_orders; let i = index" scope="col">{{head}}</th>
    </tr>
    -->
  </thead>
  <tbody>
    <tr *ngFor="let el of list_rom_orders; let i = index">
      <!--<th scope="row">{{el.id}}</th>  -->
      <td>{{el.id}}</td>
      <td>{{el.createdAt}}</td>
    </tr>
  </tbody>
</table>

</div>
</div>

<br>
<br>

<legend>Just FYI!!</legend>
<div class="container">
 <div class="form-group">
  <label for="usr">End-point: Get Request (URL/rom/search/"*")</label>
  <br>
  <label for="usr">Last updated: 12:34 pm, 30 May 2021 IST</label>
</div>


<!--
<legend>Customer Order Details</legend>
<div class="container">
 <div class="form-group">
<table>
  <tr>
    <th>Order Number</th>
    <th>Order Created On</th>
  </tr>

  <tr *ngFor="let com of list_rom_orders">
    <td> {{com.id}}</td> 
    <td> {{com.createdAt}}</td> 
  </tr>

</table>
-->
